
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style type="text/css">
        table {
            border: 5px groove black;
            border-collapse: collapse;
            width: 500px;
            height: 350px;
            text-align: center;
        }

        th.header1 {
            background-color: black;
            color: white;
        }

        td:first-child {
            background-color: blue;
            color: white;
            font: italic;
        }

        td.colum {
            background-color: cadetblue;
            color: white;
        }
    </style>
</head>
<body>
    <table >
        <tr >
            <th class="header1"> header 1 </th>
            <th class="header1"> header 2 </th>
            <th class="header1"> header 3 </th>
            <th class="header1"> header 4 </th>
        </tr>
        <tr  >
            <td > column 1 </td>
            <td class="colum" > column 2 </td>
            <td class="colum"> column 3 </td>
            <td class="colum"> column 4 </td>
        </tr>
        <tr >
            <td> column 1 </td>
            <td class="colum" >  column 2 </td>
            <td class="colum"> column 3 </td>
            <td class="colum"> column 4 </td>
        </tr>
        <tr>
            <td> column 1 </td>
            <td class="colum"> column 2 </td>
            <td class="colum"> column 3 </td>
            <td class="colum"> column 4 </td>
        </tr>
        <tr>
            <td> column 1 </td>
            <td class="colum"> column 2 </td>
            <td class="colum"> column 3 </td>
           
            <td class="colum"> column 4 </td>
        </tr>
    </table>
</body>
</html>

